* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #23272a;
}

header{
  height: 80px;
}


.container{
  width: 90%;
  max-width: 1180px; 
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}

.btn.big{
  font-size: 18px;
  padding: 15px 20px;
}

.btn.black{
  background-color: black;
  color: white;
}

.btn:hover{
  color:cornflowerblue;
}

/* HEADER */
header{
  height: 80px;
  background-color: #3161E0;
  line-height: 80px;
}

/* logo */
.logo, .main-nav{
  float: left;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: calc(100% - 202px);
  text-align: center;
}


/* menu */
.main-nav ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
}

.main-nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li a:hover{
  text-decoration: underline;
}

#accedi{
  float: right;
}

/* jumbo */

.jumbotron{
  height: 547px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  margin-bottom: 20px;
}

.jumbotron .container{
  max-width: 800px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.jumbotron h1{
  font-size: 53px;
  margin-bottom: 40px;
}

.jumbotron p{
  margin-bottom: 30px;
  line-height: 35px;
}

.jumbotron .btn:first-of-type{
  margin-right: 20px;
}

.block .last-block{
  max-width: 1180px;
}

main section{
  width: 100%;
  padding: 30px 0;
}

main .block:nth-child(odd){
  background-color: white;
}

main .block:nth-child(even){
  background-color: #f6f6f6;
}

main .block:nth-child(odd) img{
  float: left;
}

main .block:nth-child(even) img{
  float: right;
}

main .block:nth-child(odd) .text{
  float: right;
  margin-right: 150px;
  padding-top: 25px;
}

main .block:nth-child(even) .text{
  float: left;
  margin-left: 150px;
  padding-top: 25px;
}

main section img{
  width: 50%;
  vertical-align: middle;
}

main section .text{
  width: 25%;
}

.text h2{
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 15px;
}

.text p{
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}

.text.last-text{
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
}

div.last-block{
  background-color: #f6f6f6;
  text-align: center;
  padding: 0 10px;
}

.text.last-text p{
  text-align: center;
  padding: 0 20px;
}

.last-block img{
  width: 100%;
}

div.bottom-text{
  width: 50%;
  margin: 10px auto 30px;
  background-image: url("../img/stars.svg");
  background-size: cover;
}

.bottom-text h2{
  line-height: 52px;
  font-size: 30px;
}

div.bottom-btn{
  margin-bottom: 20px;
}

div.bottom-btn .btn{
  color: white;
  background-color: #8ea1e2;
}

footer{
  background-color: #23272a;
  padding: 50px 0;
}

.top-footer{
  padding-bottom: 15px;
  border-bottom: 2px solid #8ea1e2;
}

.contact-footer, .list-footer{
  float: left;
  height: 500px;
}

.contact-footer{
  width: 20%;
  margin-right: 5%;
}

.contact-footer h2, .language-page{
  margin-bottom: 20px;
}

.contact-footer h2{
  color: #7289da;
}

.language-page span img{
  width: 22px;
}

.language-page span{
  color: white;
}

.social span{
  color: white;
  padding-right: 20px;
}

.list-footer{
  width: 75%;
}

.block-list{
  float: left;
}

.block-list li{
  color: #7188d9;
  list-style-type: none;
  margin-right: 70px;
  margin-bottom: 15px;
  font-weight: 700;
}

.block-list li a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.bottom-footer{
  padding-top: 30px;
}

#registrati{
  float: right;
}

#registrati a{
  color: white;
  background-color: #7188d9;
}







